{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-2xl font-semibold sm:text-5xl">Log in con tu cuenta</h2>
        <p class="mt-2 text-lg text-gray-600">
            Si no tienes una cuenta, puedes <a href="{{ path('app_register') }}" class="text-indigo-600 hover:text-indigo-500">registrarte aquí</a>.        
        </p>
    </div>

    <form method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
        {% if error %}
            <div class="text-lg text-gray-600 mb-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-4">        
                <span class="mt-2 text-lg text-gray-600">Ya estás conectado como: {{ app.user.userIdentifier }},</span> <a href="{{ path('app_logout') }}" class="text-indigo-600 hover:text-indigo-500">Logout</a>
            </div>
        {% endif %}

        <div class="mb-4">
            <label class="block text-sm font-semibold mb-1">Email</label>
            <input type="email" name="_username" value="{{ last_username }}" class="block w-full rounded-md bg-white px-4 py-2 text-gray-900" autocomplete="email" required autofocus>
        </div>

        <div class="mb-4">
            <label class="block text-sm font-semibold mb-1">Password</label>
            <input type="password" name="_password" class="block w-full rounded-md bg-white px-4 py-2 text-gray-900" autocomplete="current-password" required>
        </div>
        
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

        <div class="mt-10">
            <button type="submit" class="block w-full rounded-md bg-indigo-600 px-4 py-2 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-500">Log in</button>
        </div>
    </form>
{% endblock %}