{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="space-y-8">
		{% for snippet in snippets %}
			<div class="bg-gradient-to-br from-gray-800 to-gray-900 rounded-2xl p-4 flex flex-col lg:flex-row lg:justify-between">
				<div class="flex gap-4 mb-4 lg:mb-0">
					{{ include('pages/_logo.html.twig') }}

					<div>
						<div class="rounded-2xl py-1 px-4 inline-flex gap-2 justify-center items-center bg-gray-800">
							<div class="rounded-full h-2 w-2 bg-gray-900"></div>
							<p class="uppercase text-xs text-gray-400">
                                {{ snippet.comments|length }}
								{{ snippet.comments|length == 1 ? 'comentario' : 'comentarios' }}
                            </p>
						</div>

						<h4 class="text-xl pt-2 mb-1 font-semibold">
							<a class="text-gray-300 hover:text-gray-200" href="{{ path('item', {id: snippet.id}) }}">
								{{ snippet.title }}
							</a>
						</h4>

						<p class="text-xs text-gray-400">
							{{ snippet.description }}
						</p>
					</div>
				</div>

				<div class="lg:border-l lg:border-gray-800 lg:p-4">
					<p class="text-gray-400 text-xs">Usuario</p>
					<p class="text-xl truncate">
						{{ snippet.author.name }}
					</p>
				</div>
			</div>
		{% endfor %}

		{% if snippets.haveToPaginate %}
			<div class="flex justify-between items-center">
				<div>
					Página {{ snippets.currentPage }} de {{ snippets.nbPages }}
				</div>

				<div class="flex gap-4 justify-end">
					{% if snippets.hasPreviousPage %}
						<a href="{{ path('home', {page: snippets.getPreviousPage}) }}">Anterior</a>
					{% endif %}
					
					{% if snippets.hasNextPage %}
						<a href="{{ path('home', {page: snippets.getNextPage}) }}">Siguiente</a>
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
