{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="flex flex-col lg:flex-row gap-4">
		<div class="lg:max-w-sm lg:border-r lg:border-gray-800 lg:pr-4 lg:w-1/3">
			<h4 class="text-xl font-semibold text-gray-300 mb-2">
				{{ snippet.title }}
			</h4>

			<p class="text-xs text-gray-400 mb-8">
				{{ snippet.description }}
			</p>

			{% if app.user %}
				<div class="mb-8 flex items-center gap-2">
					<form action="{{ path('app_snippet_fork', { id: snippet.id }) }}" method="POST" onsubmit="return confirm('¿Estás seguro de que quieres hacer un fork de este snippet?');">
						<button type="submit" class="rounded-2xl py-1 px-4 bg-green-800 text-xs text-white">
							Fork
						</button>
					</form>

					<!-- if -->

					<!-- endif -->
				</div>
			{% endif %}

			<div>
				<p class="text-gray-400 text-xs">Usuario</p>
				<p class="text-xl truncate">
					{{ snippet.author.name }}
				</p>
			</div>
		</div>

		<div class="w-full">
			<pre class="whitespace-pre-wrap"><code class="text-xs text-gray-400">{{ snippet.code }}</code></pre>

			<div class="flex gap-2 my-4">
				<a class="bg-gray-400 hover:bg-gray-300 rounded-2xl py-1 px-4 text-gray-900" href="{{ path('home') }}">
					Home
				</a>

				<div class="rounded-2xl py-1 px-4 inline-flex gap-2 justify-center items-center bg-gray-800">
					<div class="rounded-full h-2 w-2 bg-gray-900"></div>
					<p class="uppercase text-xs text-gray-400">
						{{ snippet.comments|length }}
						{{ snippet.comments|length == 1 ? 'comentario' : 'comentarios' }}
					</p>
				</div>
			</div>

			<div class="space-y-4">
				{% for comment in snippet.comments %}
					<div class="bg-gradient-to-br from-gray-800 to-gray-900 rounded-2xl p-4">
						<h4 class="text-md pt-1 font-semibold text-gray-300">
							{{ comment.author.name }}
						</h4>

						<p class="text-xs text-gray-400">
							{{ comment.content }}
						</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
