<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="text-white bg-gradient-to-br from-gray-900 to-gray-800 min-h-screen">
        <div class="max-w-5xl mx-auto px-4 py-4 flex gap-4 items-center justify-end">
            <a href="{{ path('home') }}" class="text-sm font-semibold">Home</a>

            {% if app.user %}
                <span class="text-sm font-semibold">{{ app.user.name }}</span> 

                <a href="#" class="text-sm font-semibold">Crea un Snippet</a>

                <a href="{{ path('app_logout') }}" class="text-sm font-semibold">Logout</a>
            {% else %}            
                <a href="{{ path('app_register') }}" class="text-sm font-semibold">Crea tu cuenta</a>
                                    
                <a href="{{ path('app_login') }}" class="text-sm font-semibold">Log in &rarr;</a>
            {% endif %}        
        </div>
        <div class="max-w-5xl mx-auto px-4 py-8">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>